on boot
    # Anti-Flicker
    chown system system /sys/kernel/oplus_display/dimlayer_bl_en
    chmod 0666 /sys/kernel/oplus_display/dimlayer_bl_en

    # TP-edge limit
    chown system system /proc/touchpanel/oplus_tp_direction
    chmod 0666 /proc/touchpanel/oplus_tp_direction
    write /proc/touchpanel/oplus_tp_direction 0

    # High touch polling rate
    chown system system /proc/touchpanel/game_switch_enable
    chmod 0666 /proc/touchpanel/game_switch_enable

    # Measured FPS
    chown system graphics /sys/class/drm/sde-crtc-0/measured_fps
    chmod 0666 /sys/class/drm/sde-crtc-0/measured_fps

    # Vibration intensity
    chown system system /sys/devices/platform/soc/89c000.i2c/i2c-2/2-005a/leds/vibrator/level
    chmod 0666 /sys/devices/platform/soc/89c000.i2c/i2c-2/2-005a/leds/vibrator/level
