on boot
    mkdir /data/misc/bliss 0770 cameraserver audio
    write /data/misc/bliss/client_package_name 0
    chown cameraserver audio /data/misc/bliss/client_package_name
    chmod 0644 /data/misc/bliss/client_package_name
